body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(2, 2, 250, 0.5);
    color: white;
    text-shadow: 0.5px 0.5px 5px black;
}

h1 {
    text-align: center;
}

form {
    background-color: rgba(2, 2, 250, 0.5);
    width: 500px;
    margin: 0 auto;
    font-size: 0.88em;
    padding: 5px 0 20px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0.2px black;
}

span {
    color: black;
    text-shadow: none;
}

input, textarea, select {
    background-color: rgba(220, 220, 220);
    color: #222222;
    position: relative;
    top: -20px;
    width: 95%;
    height: 35px;
    font-size: 1.3em;
}

textarea {
    height: 65px;
    font-size: 1.8em;
}

select {
    width: 96%;
    height: 40px;
    font-size: 1.2em;
}

#q4_example{
    width: 60%;
    background-color: rgba(20, 20, 20, 0.8);
    position: relative;
    top: -30px;
    font-size: 1.3em;
    text-align: center;
    padding: 15px;
    left:15%;
}

#q4 {
    top: -40px;
}

button {
    width: 97%;
    height: 50px;
    font-size: 1.5em;
    background-color: navy;
    color: white;
    border-radius: 10px;
}
