* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*This comment will create a header for the "Class Selectors" section in my stylesheet
 am placing this at the bottom of my stylesheet file.*/

nav {
    background-color: #092E72;
}
.box {
    margin: 1rem;
    border: 1px solid #621818;
    padding: 1rem;
    background-color: #092E72;
    color: #FFFFFF;
  }

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: white;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black; /* Added a color value for the border */
    padding: 2px;
    box-shadow: 0 0 30px #092E72;
}

p {
    padding: 10px 10px 10px 10px;
}

main {
    max-width: 840px;
    
}
 li a{
    color: #ffffff;
 }
aside {
    width: 20rem;
    text-align: center;
    position: relative;

}
aside h4{
    position: absolute;
    right: 37%;
   
    white-space: nowrap;
    top: 15%;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 60px;
    height: auto;
    float: right;
    margin-left: 20px;
    
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #621818;
    text-align: center;
}

 
