* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*This comment will create a header for the "Class Selectors" section in my stylesheet
 am placing this at the bottom of my stylesheet file.*/

nav {
    background-color: #092E72;
}

.box {
    margin: 1rem;
    border: 1px solid #621818;
    padding: 1rem;
    background-color: #092E72;
    color: #FFFFFF;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: white;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black; /* Added a color value for the border */
    padding: 2px;
    box-shadow: 0 0 30px #092E72;
}

p {
    padding: 10px 10px 10px 10px;
}

header, grid, footer {
    max-width: 840px;
    margin: 0 auto;
  }

nav {
    background-color: #092E72;;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly; /* or space-around if you prefer */
    align-items: center;
  }

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; /* white */
  }
  
h1 {
    color: #092E72;;
    border-bottom: 1px solid #fff; /* white */
  }
  
  .grid {
    display: grid;
    align-items: center;
  }
  
  main {
    grid-column: 2/3;
    margin: 1rem;
  }
  
  aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }

li a {
    color: #ffffff;
}

aside h4 {
    position: absolute;
    right: 37%;
    white-space: nowrap;
    top: 15%;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 60px;
    height: auto;
    float: right;
    margin-left: 20px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #621818;
    text-align: center;
}